<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<div id="quote-detail">
    <div class="row"> 
        <div class="col-md-12">
            <div class="card">
                <div class="card-title"> 
               
                    
<!-- <h3>
   "  {{quote.description}} " 
   <br> 
    ~ {{quote.author}}
    <br> <br>
    Submitted by: {{quote.name}}
   
</h3> -->

<!-- <h4>Created  {{quote.completeDate|dateCount}} </h4> -->

<!-- <div appHighestVotes class="card-text">
    <p>Congratulations!Your quote has {{bestQuote().upVote}} quotes.</p>
</div> -->
        
<!-- <div class="row"> 
     <div class="col-md-6"> -->
        
        <a href="#" id="thumbs-up" class="btn btn-outline-success btn-lg" (click)="countLike()"> {{likeCounter}}
            <span class="glyphicon glyphicon-thumbs-up" ></span>
        </a>
        
        
        <a href="#" id="thumbs-down" class="btn btn-outline-danger btn-lg" (click)="countDislike()"> {{dislikeCounter}}
            <span class="glyphicon glyphicon-thumbs-down"></span>
        </a>
        <a href="#" id="trash" (click)='quoteDelete(true)' class="btn btn-outline-danger btn-lg">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
        <!-- <div appHighestVotes class="card-text">
            <div *ngIf = "bestQuote().upVote! >= 0">
            <p>Congratulations!Your quote has {{bestQuote().upVote}} quotes.</p>
        </div> -->
            </div>
        </div>
    </div>
    </div>
  
</div>
<!-- </div>
</div> -->